.header{
background-color:white;
height: 4em;
width: 100%;
display: flex;
padding: 0 2em;
box-sizing: border-box;
justify-content: space-between;

}

.logo h4{

 font-weight: bold;
 margin: 0;
 padding: 0;
 font-size: 2em;
 position: relative;
 letter-spacing: 0.1em;
}
.logo h4::after{
    content: "Write your dream";
    position: absolute;
    top: 90%;
    right: 1%;
  font-size: 35%;
 white-space: nowrap;
 letter-spacing: 0.001em;
  
  
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    position: fixed;
}
.btn{
    height: 3.5em;
    width: 3.5em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: teal;
    color: white;
    z-index: 100000000;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);

}

