@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 222, 222) !important;
  width: 100%;
  min-height: 100vh;
}
:root{
  --bg-color: rgba(10, 9, 9, 0.2);
}

.container {
 width: 1200px;
 margin:auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.hr{
  background-color: rgb(202, 201, 199) !important;
  height: 1px;
  width: 100%;
}

@media(max-width:576px){
  .container{
    flex-direction: column !important;
    width: 100%;
  }
  .card{
    width: 92% !important;
  }
  .modal-content{
    width: 90vw !important;
  }
 

}
